/* kaifu */
@rem: 0.0267rem;
.kaifu{
    box-sizing: border-box;
    padding-top: 76*@rem;
    height: 100%;
    padding-bottom: 50*@rem;
    .top-nav{
        position: fixed;
        top: 46*@rem;
        z-index: 10000;
        background: #fff;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #eee;
        text-align: center;
        a{
            box-sizing: border-box;
            position: relative;
            display: block;
            flex: 1;
            width: 33.3%;
            height: 33*@rem;
            line-height: 30*@rem;
            color: #666666;
            flex: 1;
            font-size: 16*@rem;
            border-radius: 0;
            background: #fff;
            opacity: 1;
            transition: 1s;
            outline: none;
            span{
                position: absolute;
                left: 0;
                display: block;
                // margin-top: 8*@rem;
                height: 2px;
                transition: width 0.3s;
                width: 0*@rem;
                
            }
            &.router-link-active{
                color: #47A83A;
                outline: none;
                span{
                    transition: width 0.3s;
                border-bottom: 2*@rem solid #47A83A;
                width: 47*@rem;
                bottom: 1*@rem;
                left: 50%;
                transform: translateX(-50%);
                }
            }
        }
    }

}
