/* kaifu */
.kaifu {
  box-sizing: border-box;
  padding-top: 2.136rem;
  height: 100%;
  padding-bottom: 1.335rem;
}
.kaifu .top-nav {
  position: fixed;
  top: 1.2282rem;
  z-index: 10000;
  background: #fff;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.kaifu .top-nav a {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 33.3%;
  height: 0.8811rem;
  line-height: 0.801rem;
  color: #666666;
  flex: 1;
  font-size: 0.4272rem;
  border-radius: 0;
  background: #fff;
  opacity: 1;
  transition: 1s;
  outline: none;
}
.kaifu .top-nav a span {
  position: absolute;
  left: 0;
  display: block;
  height: 2px;
  transition: width 0.3s;
  width: 0rem;
}
.kaifu .top-nav a.router-link-active {
  color: #47A83A;
  outline: none;
}
.kaifu .top-nav a.router-link-active span {
  transition: width 0.3s;
  border-bottom: 0.0534rem solid #47A83A;
  width: 1.2549rem;
  bottom: 0.0267rem;
  left: 50%;
  transform: translateX(-50%);
}
