@rem: 0.0267rem;
.move-enter, .move-leave-to {
  transform: translateX(100%);
}
.move-enter-active {
  transition: all .5s linear;
}
.move-leave-active {
  transition: all .5s linear;
}

.category {
  .filter-list {
    padding: 0 14*@rem;
    .list {
      display: flex;
      height: 44*@rem;
      align-items: center;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      overflow: scroll;
      &::-webkit-scrollbar{
        display: none !important;
        width: 0;
        height: 0;
      }
      &:last-of-type {
        border-bottom: none;
      }
      .item {
        box-sizing: border-box;
        height: 28*@rem;
        padding: 0 8*@rem;
        line-height: 28*@rem;
        font-size: 14*@rem;
        border-radius: 20px;
        white-space: nowrap;
        &.active {
          border: 1px solid rgba(72, 168, 58, 1);
          color: rgba(72, 168, 58, 1);
        }
      }
    }
  }
  .tab-list {
    margin: 0 14*@rem;
    padding: 0 10*@rem;
    line-height: 35*@rem;
    background-color: rgba(245, 245, 245, 1);
    font-size: 14*@rem;
    color: rgba(51, 51, 51, 1);
    .tab-item {
      margin-right: 14*@rem;
      &.active {
        color: rgba(72, 168, 58, 1);
      }
    }
  }
}