@rem: 0.0267rem;
.newgame {
  height: 100%;
  .wrapper {
    height: 100%;
    .content {
      overflow: hidden;
    }
  }
  .today-newgame {
    overflow: hidden;
  }
  .title {
    margin: 15*@rem 14*@rem 5*@rem;
    font-size: 16*@rem;
    font-weight: bolder;
  }
}