/* billboard */
.billboard {
  overflow: hidden;
  background: linear-gradient(90deg, #ff9d02, #ffbe57);
}
.billboard .title h3 {
  height: 1.1481rem;
  font-size: 0.5607rem;
  font-family: BigruixianBoldkGBV10;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.1481rem;
  text-align: center;
}
.billboard .title h3 i.left-ico {
  background: url(../../assets/images/title-left.png) no-repeat;
  margin-right: 0.3738rem;
}
.billboard .title h3 i.right-ico {
  background: url(../../assets/images/title-right.png) no-repeat;
  margin-left: 0.3738rem;
}
.billboard .title h3 i {
  display: inline-block;
  width: 1.0146rem;
  height: 0.3204rem;
  background-size: 100% 100% !important;
}
.billboard .game-box {
  width: 9.2649rem;
  height: 4.0851rem;
  margin: 0.4806rem auto 0.267rem;
  background: #fff;
  border-radius: 0.2136rem;
}
.billboard .game-box .game-list {
  position: relative;
}
.billboard .game-box .game-list .game-item {
  width: 30%;
  text-align: center;
  position: absolute;
}
.billboard .game-box .game-list .game-item .game-pic {
  width: 1.7355rem;
  height: 1.7355rem;
  position: relative;
  background: #EEEEEE;
  border-radius: 50%;
  margin: 0.5073rem auto 0;
}
.billboard .game-box .game-list .game-item .game-pic img {
  background: #EEEEEE;
  width: 1.7355rem;
  height: 1.7355rem;
  border-radius: 50%;
}
.billboard .game-box .game-list .game-item .game-pic .cap-ico {
  display: block;
  position: absolute;
  width: 0.6675rem;
  height: 0.534rem;
  right: 0;
  top: -0.2136rem;
  background: #000;
  z-index: 2;
}
.billboard .game-box .game-list .game-item .game-pic .no-ico {
  display: block;
  position: absolute;
  width: 1.9758rem;
  height: 0.4272rem;
  bottom: -0.267rem;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  z-index: 2;
}
.billboard .game-box .game-list .game-item .game-title {
  font-size: 0.3204rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333333;
  margin-top: 0.4005rem;
  padding: 0 0.267rem;
  overflow: hidden;
  height: 0.3738rem;
}
.billboard .game-box .game-list .game-item a.down {
  display: block;
  width: 1.335rem;
  height: 0.6675rem;
  background-color: #47a83a;
  border-radius: 0.0801rem;
  line-height: 0.6675rem;
  font-size: 0.3738rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #fff;
  margin: 0.1335rem auto;
  letter-spacing: 0.0534rem;
}
.billboard .game-box .game-list .game-item:nth-of-type(1) {
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  top: -0.4005rem;
  background: url(../../assets/images/shadow-side.png) no-repeat;
  background-size: 100% 100%;
}
.billboard .game-box .game-list .game-item:nth-of-type(1) .game-pic {
  transform: scale(1.2);
  transform-origin: top;
}
.billboard .game-box .game-list .game-item:nth-of-type(1) .game-title {
  margin-top: 0.801rem;
}
.billboard .game-box .game-list .game-item:nth-of-type(1) .cap-ico {
  background: url(../../assets/images/cap-yellow.png) center center / 100% no-repeat;
}
.billboard .game-box .game-list .game-item:nth-of-type(1) .no-ico {
  background: url(../../assets/images/no1.png) center center / 100% no-repeat;
}
.billboard .game-box .game-list .game-item:nth-of-type(2) {
  left: 0;
}
.billboard .game-box .game-list .game-item:nth-of-type(2) .cap-ico {
  background: url(../../assets/images/cap-red.png) center center / 100% no-repeat;
}
.billboard .game-box .game-list .game-item:nth-of-type(2) .no-ico {
  background: url(../../assets/images/no2.png) center center / 100% no-repeat;
}
.billboard .game-box .game-list .game-item:nth-of-type(3) {
  right: 0;
}
.billboard .game-box .game-list .game-item:nth-of-type(3) .cap-ico {
  background: url(../../assets/images/cap-blue.png) center center / 100% no-repeat;
}
.billboard .game-box .game-list .game-item:nth-of-type(3) .no-ico {
  background: url(../../assets/images/no3.png) center center / 100% no-repeat;
}
