/* topic */
@rem: 0.0267rem;
.topic{
  padding-top: 65*@rem;
  .content {
    position: relative;
    box-sizing: border-box;
  }
  .topic-list{
      position: relative;
      margin: 0 10*@rem;
      width: 355*@rem;
      padding-top: 10*@rem;
      .topic-item{
          margin-bottom: 10*@rem;
          width: 355*@rem;
          height: 160*@rem;
          img{
              display: block;
              width: 355*@rem;
              height: 160*@rem;
              border-radius: 5*@rem;
          }
      }
  }
    
}