* {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.2;
}
html,
body {
  height: 100%;
}
#app {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a,
input {
  outline: none;
}
li {
  list-style: none;
}
