@rem: 0.0267rem;
* {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.2;
}
html,body{
  height: 100%;
}
#app{
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a,input {
  outline: none;
}
li {
  list-style: none;
}
html,body{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 12*@rem;
}
a,input, button {
  outline: 0 none !important;
}
li{
  list-style: none;
}

.appView{
  background: #fff;
}
